/* This is also a comment*/
#Variables li {
  font-size: 32px;
}
#Variables li:first-child {
  color: red;
}
#Variables li:nth-child(odd) {
  color: blue;
}
#Variables li:last-child:hover {
  color: red;
  background-color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
}