// Variables
// create Variables
@import "./library";

$font-s: 32px;
$primary-color: red;
$secondary-color: rgba(27, 50, 155, 0.8);

// Variabe in a Variable

$bg-color: rgba($secondary-color, 0.8);

#Variables {
    li {
        font-size: $font-s;
        &:first-child {
            color: $primary-color;
        }
        &:nth-child(even) {
            color: $secondary-color;
        }
        &:last-child{
            &:hover{
                color: $primary-color;
                background-color: $bg-color;
                cursor: pointer;
            }
        }
    }
}

